# Visual Analytics

## Tarea 2 - Preprocesamiento de los datos

In [1]:
# import libraries
import pandas as pd
import pandas_profiling
import numpy as np

In [2]:
FileName = "Resultados_Saber_Pro_Competencias_Genericas_2018-2.csv"
cols=[
'ESTU_AREARESIDE',
'ESTU_CONSECUTIVO',
'ESTU_GENERO',
'ESTU_INST_DEPARTAMENTO',
'ESTU_METODO_PRGM',
'ESTU_NACIONALIDAD',
'ESTU_VALORMATRICULAUNIVERSIDAD',
'MOD_INGLES_DESEM',
'MOD_INGLES_PUNT',
'INST_COD_INSTITUCION',
'INST_NOMBRE_INSTITUCION',
'PERIODO'
]
df2018 = pd.read_csv(FileName, usecols= cols )
df2018.head()

,ESTU_NACIONALIDAD,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_AREARESIDE,ESTU_VALORMATRICULAUNIVERSIDAD,INST_COD_INSTITUCION,INST_NOMBRE_INSTITUCION,ESTU_METODO_PRGM,ESTU_INST_DEPARTAMENTO,MOD_INGLES_PUNT,MOD_INGLES_DESEM
0,COLOMBIA,F,20183,EK201830031472,Cabecera Municipal,Menos de 500 mil,1301,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",PRESENCIAL,BOGOTA,167,A2
1,COLOMBIA,F,20183,EK201830081491,Cabecera Municipal,Menos de 500 mil,1301,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",PRESENCIAL,BOGOTA,134,A1
2,COLOMBIA,F,20183,EK201830081476,Cabecera Municipal,Menos de 500 mil,1301,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",PRESENCIAL,BOGOTA,138,A1
3,COLOMBIA,F,20183,EK201830031466,Cabecera Municipal,Menos de 500 mil,1301,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",PRESENCIAL,BOGOTA,80,-A1
4,COLOMBIA,F,20183,EK201830031452,Cabecera Municipal,Menos de 500 mil,1301,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",PRESENCIAL,BOGOTA,152,A2

In [3]:
# GROUP BY 
t1 = df2018.groupby(['ESTU_INST_DEPARTAMENTO', 'ESTU_METODO_PRGM']).agg({'MOD_INGLES_PUNT': 'max'})
t1.to_csv('modalidad_max.csv')
t1.head(10)

                                         MOD_INGLES_PUNT
ESTU_INST_DEPARTAMENTO ESTU_METODO_PRGM
ANTIOQUIA              DISTANCIA                     300
                       DISTANCIA VITUAL              300
                       PRESENCIAL                    300
ATLANTICO              DISTANCIA VITUAL              207
                       PRESENCIAL                    300
BOGOTA                 DISTANCIA                     300
                       DISTANCIA VITUAL              232
                       PRESENCIAL                    300
BOLIVAR                DISTANCIA                     203
                       DISTANCIA VITUAL              196

In [4]:
t2 = df2018.groupby(['ESTU_INST_DEPARTAMENTO']).agg({'MOD_INGLES_PUNT': 'mean'})
t2.to_csv('depto_mean.csv')
t2.head(10)

                        MOD_INGLES_PUNT
ESTU_INST_DEPARTAMENTO
ANTIOQUIA                    155.695282
ATLANTICO                    152.157020
BOGOTA                       152.090889
BOLIVAR                      146.984531
BOYACA                       149.351364
CALDAS                       154.919585
CAQUETA                      137.107731
CASANARE                     139.127907
CAUCA                        141.967991
CESAR                        135.810032